web-nodered/web.json
[{"id":"c159e579.d2ef5","type":"http in","z":"7175b124.8e8a5","name":"/sendto?addr=x&val=y","url":"/sendto","method":"get","swaggerDoc":"","x":120,"y":80,"wires":[["81427c2b.46157","225df804.2495b8"]]},{"id":"81427c2b.46157","type":"debug","z":"7175b124.8e8a5","name":"","active":true,"console":"true","complete":"payload","x":370,"y":200,"wires":[]},{"id":"225df804.2495b8","type":"template","z":"7175b124.8e8a5","name":"form to send","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>tDash</title>\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/bootstrap/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/fonts/ionicons.min.css\">\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/css/Login-Form-Clean.css\">\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/css/styles.css\">\n</head>\n\n<body>\n    <div class=\"login-clean\">\n        <form  action=\"/postsendto\" method=\"post\">\n            <h2 class=\"sr-only\">send tDash</h2>\n            <div class=\"illustration\"><i class=\"icon ion-ios-navigate\"></i></div>\n            <div class=\"form-group\">\n                <input class=\"form-control input-lg\" type=\"text\" name=\"sendto\" readonly=\"\" value=\"{{{payload.addr}}}\">\n            </div>\n            <div class=\"form-group\">\n                <input class=\"form-control input-lg\" type=\"text\" name=\"value\" readonly=\"\" value=\"{{{payload.val}}}\">\n            </div>\n            <div class=\"form-group\">\n                <button class=\"btn btn-primary btn-block\" type=\"submit\">Send tDash</button>\n            </div>\n        </form>\n    </div>\n    <script src=\"http://chaeplin.github.io/tdash/js/jquery.min.js\"></script>\n    <script src=\"http://chaeplin.github.io/tdash/bootstrap/js/bootstrap.min.js\"></script>\n</body>\n\n</html>\n","x":370,"y":80,"wires":[["7b6070c7.281ee8"]]},{"id":"4e7efa4b.864e5c","type":"http in","z":"7175b124.8e8a5","name":"/postsendto","url":"/postsendto","method":"post","swaggerDoc":"","x":90,"y":140,"wires":[["ccc4857e.0413b8","81427c2b.46157","53ae18da.f8f718"]]},{"id":"7b6070c7.281ee8","type":"http response","z":"7175b124.8e8a5","name":"","x":590,"y":100,"wires":[]},{"id":"ccc4857e.0413b8","type":"template","z":"7175b124.8e8a5","name":"display result","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.3\">\n    <title>tDash</title>\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/bootstrap/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/fonts/ionicons.min.css\">\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/css/Login-Form-Clean.css\">\n    <link rel=\"stylesheet\" href=\"http://chaeplin.github.io/tdash/css/styles.css\">\n</head>\n\n<body>\n    <div class=\"alert alert-success\" role=\"alert\"><span>{{{payload.value}}} tDash sent to {{{payload.sendto}}} </span></div>\n    <script src=\"http://chaeplin.github.io/tdash/js/jquery.min.js\"></script>\n    <script src=\"http://chaeplin.github.io/tdash/bootstrap/js/bootstrap.min.js\"></script>\n</body>\n\n</html>\n","x":370,"y":140,"wires":[["7b6070c7.281ee8"]]},{"id":"53ae18da.f8f718","type":"mqtt out","z":"7175b124.8e8a5","name":"local mqtt","topic":"s/resp/sendto","qos":"0","retain":"false","broker":"65e4962d.8d9c3","x":360,"y":260,"wires":[]},{"id":"65e4962d.8d9c3","type":"mqtt-broker","z":"7175b124.8e8a5","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]